$color-white: #fff;
$color-black: #000;
$color-blue_very-super-light: #cfe1f5;
$color-blue_super-light: #a0c3eb;
$color-blue_light: #5896db;
$color-blue: #116acc;
$color-blue_dark: #0c4a8f;
$color-grey_light: #e5e5e5;
$color-grey: #9ca3af;
$color-red: #fd4e5d;
