.accounts {
  padding-top: 50px;

  &__header {
    margin-bottom: 50px;
  }

  .header-accounts {
    display: flex;

    &__left {
      display: flex;
      align-items: center;
      margin-right: auto;
    }

    &__title {
      margin-right: 35px;
    }

    &__select {
      padding: 0 15px;
      height: 45px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 70px;
  }

  &__item {
    display: flex;
  }

  .card-accounts {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 22px;
    border-radius: 9px;
    box-shadow: 0px 5px 20px 0 rgba(#000000, 0.25);

    &__content {
      height: 100%;
    }

    &__number {
      display: block;
      margin-bottom: 10px;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 22px;
      color: #182233;
    }

    &__price {
      margin-bottom: 30px;
      font-family: "Ubuntu";
      font-size: 14px;
      line-height: 20px;
      color: #182233;
    }

    &__transaction-descr {
      font-size: 13px;
    }

    &__transaction-date {
      font-size: 13px;
    }
  }
}
